h1{text-align: center;}
img{display: block;margin: 3rem auto;}
.desc{text-align: center;margin: 5rem auto;height: 3rem;line-height: 3rem;font-size: 1.5rem;}
.spc{text-align: center;margin: 5rem auto;height: 3rem;line-height: 3rem;font-size: 1.2rem;color: red;}
