<div class="index-mine content-page" id="mine">
	<div class="mine-header">
		<div>
			<div class="mine-content">
				<div class="admin"></div>
				<div>
					<p>10000</p>
					<p>V 5</p>
				</div>
				<div><i class="fa fa-angle-right fa-3x"></i></div>
			</div>
			<ul>
				<li>商品收藏</li>
				<li>店铺收藏</li>
			</ul>
		</div>
	</div>
	<div class="mine-border"></div>
	<div class="mine-order">
		<div>我的订单</div>
		<div>
			<a href="#/indent">查看全部订单 ></a>
		</div>
	</div>
	<ol>
		<li class="one">待付款</li>
		<li class="two">待收货</li>
		<li class="three">待评价</li>
		<li class="four">退款/售后</li>
	</ol>
	<div class="mine-border"></div>
	<table>
		<tr>
			<td>积分商城</td>
			<td>优惠券</td>
			<td>收货地址</td>
			<td>客服/反馈</td>
		</tr>
		<tr>
			<td>关于我们</td>
		</tr>
	</table>
	<div class="mine-border big"></div>
	<div class="mine-out">退出当前账号</div>
</div>
</div>